{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<div id="uptimes">
  <h4>Current Uptimes:</h4>
  <div class="row">
      <div class="col-sm">
        <span id="privatewebuptime">
          {% if uptime_pvt > 99.9399 %}
          <div class="card w-75 text-center text-white bg-success mb-3" style="max-width: 10rem;">
          {% endif %}
          {% if uptime_pvt < 99.9399 and uptime_pvt > 99.8999 %}
          <div class="card w-75 text-center text-white bg-warning mb-3" style="max-width: 10rem;">
          {% endif %}
          {% if uptime_pvt < 99.9000 %}
          <div class="card w-75 text-center text-white bg-danger mb-3" style="max-width: 10rem;">
          {% endif %}
        </span>
          <div class="card-body">
              <h5 class="card-title">Private Web</h5>
              <h6 id="privateweb" class="card-subtitle text-center text-white mb-2"> {{ uptime_pvt }}%  </h6>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <span id="publicwebuptime">
          {% if uptime_pvt > 99.9399 %}
          <div class="card w-75 text-center text-white bg-success mb-3" style="max-width: 10rem;">
          {% endif %}
          {% if uptime_pvt < 99.9399 and uptime_pvt > 99.8999 %}
          <div class="card w-75 text-center text-white bg-warning mb-3" style="max-width: 10rem;">
          {% endif %}
          {% if uptime_pvt < 99.9000 %}
          <div class="card w-75 text-center text-white bg-danger mb-3" style="max-width: 10rem;">
          {% endif %}
        </span>
          <div class="card-body">
            <h5 class="card-title">Public Web</h5>
            <h6 id="publicweb" class="card-subtitle text-center text-white mb-2"> {{ uptime_pub }}%  </h6>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <span id="emailuptime">
          {% if uptime_pvt > 99.9399 %}
          <div class="card w-75 text-center text-white bg-success mb-3" style="max-width: 10rem;">
          {% endif %}
          {% if uptime_pvt < 99.9399 and uptime_pvt > 99.8999 %}
          <div class="card w-75 text-center text-white bg-warning mb-3" style="max-width: 10rem;">
          {% endif %}
          {% if uptime_pvt < 99.9000 %}
          <div class="card w-75 text-center text-white bg-danger mb-3" style="max-width: 10rem;">
          {% endif %}
        </span>
          <div class="card-body">
            <h5 class="card-title">Email</h5>
            <h6 id="email" class="card-subtitle text-center text-white mb-2"> {{ uptime_eml }}%  </h6>
          </div>
        </div>
      </div>
    </div>
</div>
<div id="Webs">
  <h4>Current Bindings:</h4>
  <div class="row">
      <div class="col-sm">
        <div class="card w-75" style="max-width: 10rem;">
          <div class="card-body">
              <h5 class="card-title">Private Web</h5>
              <span id="privatewebimg">
                  <img class="card-img-top" src="static/X.png" alt="x">
              </span>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card w-75" style="max-width: 10rem;">
          <div class="card-body">
            <h5 class="card-title">Public Web</h5>
            <span id="publicwebimg">
                <img class="card-img-top" src="static/X.png" alt="x">
            </span>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card w-75" style="max-width: 10rem;">
          <div class="card-body">
            <h5 class="card-title">Beta Web</h5>
            <span id="betawebimg">
                <img class="card-img-top" src="static/X.png" alt="x">
            </span>
          </div>
        </div>
      </div>
    </div>
</div>
<div id="storage">
  <h4>Storage Health:</h4>
  <div class="row">
    <div class="col-sm">
      <div id="ClusterPeerCountDiv">
      </div>
    </div>
    <div class="col-sm">
      <div id="SnapmirrorCountDiv">
      </div>
    </div>
    <div class="col-sm">
      <div id="volCountDiv">
      </div>
    </div>
  </div>
</div>

<script>

    function autoRefresh_div() {
      $("#Webs").load(bindscript('#privatewebimg','#publicwebimg','#betawebimg'));
    }
      setInterval('autoRefresh_div()', 5000);

    function bindscript(elemImg1, elemImg2, elemImg3) {
         $.post('/_bindscript',{
           text: "test",
          }).done(function(response) {
              if (response['pvt_web'] == "A") {
                $(elemImg1).html('<img class="card-img-top" src="static/A.png" alt="Card image cap">');
              } else if (response['pvt_web'] == "B") {$(elemImg1).html('<img class="card-img-top" src="static/B.png" alt="Card image cap">');
              } else {$(elemImg1).html('<img class="card-img-top" src="static/X.png" alt="Card image cap">')}
              if (response['pub_web'] == "A") {
                $(elemImg2).html('<img class="card-img-top" src="static/A.png" alt="Card image cap">');
              } else if (response['pub_web'] == "B") {$(elemImg2).html('<img class="card-img-top" src="static/B.png" alt="Card image cap">');
              } else {$(elemImg2).html('<img class="card-img-top" src="static/X.png" alt="Card image cap">')}
              if (response['beta_web'] == "A") {
                $(elemImg3).html('<img class="card-img-top" src="static/A.png" alt="Card image cap">');
              } else if (response['beta_web'] == "B") {$(elemImg3).html('<img class="card-img-top" src="static/B.png" alt="Card image cap">');
              } else {$(elemImg3).html('<img class="card-img-top" src="static/X.png" alt="Card image cap">')}
              $('#Webs').text(response['message'], response['pvt_web']);
            }).fail(function() {
             $(elemImg1).html('<img class="card-img-top" src="static/X.png" alt="Card image cap">');
         });

     };

     $('#storage')
         $.ajax({
             url: '/_navolhealth',
             type: 'POST',
             success: function(response) {
                 if (response['warning_volume_count'] == 0) {
                   $('#volCountDiv').html('<div class="card w-75 text-center text-white bg-success mb-3" style="max-width: 10rem;"><div class="card-body"><h6 class="card-title">Healthy Volumes Total</h6><h5 id="volCount" class="card-subtitle text-center text-white mb-2"></h5></div></div>');
                   $('#volCount').text(response['volume_count']);
                 } else if (response['warning_volume_count'] > 1) {
                   $('#volCountDiv').html('<div class="card w-75 text-center text-white bg-warning mb-3" style="max-width: 10rem;"><div class="card-body"><h6 class="card-title">Volumes Over 90%</h6><h5 id="volCount" class="card-subtitle text-center text-white mb-2"></h5></div></div>');
                   $('#volCount').text(response['warning_volume_count']);
                 }

             },
             error: function() {
                 console.log('something went wrong');
             }
        });
        $.ajax({
           url: '/_naclusterpeerhealth',
           type: 'POST',
           success: function(response) {
               if (response['warning_cluster_peer_count'] == 0) {
                 $('#ClusterPeerCountDiv').html('<div class="card w-75 text-center text-white bg-success mb-3" style="max-width: 10rem;"><div class="card-body"><h6 class="card-title">Warning Cluster Peers</h6><h5 id="ClusterPeerCount" class="card-subtitle text-center text-white mb-2"></h5></div></div>');
                 $('#ClusterPeerCount').text(response['warning_cluster_peer_count']);
               } else if (response['warning_cluster_peer_count'] > 1) {
                 $('#ClusterPeerCountDiv').html('<div class="card w-75 text-center text-white bg-warning mb-3" style="max-width: 10rem;"><div class="card-body"><h6 class="card-title">Warning Cluster Peers</h6><h5 id="ClusterPeerCount" class="card-subtitle text-center text-white mb-2"></h5></div></div>');
                 $('#ClusterPeerCount').text(response['warning_cluster_peer_count']);
               }
                 },
               error: function() {
                   console.log('something went wrong');
               }

        });
        $.ajax({
            url: '/_naclusterpeerhealth',
            type: 'POST',
            success: function(response) {
                if (response['warning_cluster_peer_count'] == 0) {
                  $('#ClusterPeerCountDiv').html('<div class="card w-75 text-center text-white bg-success mb-3" style="max-width: 10rem;"><div class="card-body"><h6 class="card-title">Warning Cluster Peers</h6><h5 id="ClusterPeerCount" class="card-subtitle text-center text-white mb-2"></h5></div></div>');
                  $('#ClusterPeerCount').text(response['warning_cluster_peer_count']);
                } else if (response['warning_cluster_peer_count'] > 1) {
                  $('#ClusterPeerCountDiv').html('<div class="card w-75 text-center text-white bg-warning mb-3" style="max-width: 10rem;"><div class="card-body"><h6 class="card-title">Warning Cluster Peers</h6><h5 id="ClusterPeerCount" class="card-subtitle text-center text-white mb-2"></h5></div></div>');
                  $('#ClusterPeerCount').text(response['warning_cluster_peer_count']);
                }

             },
             error: function() {
                 console.log('something went wrong');
             }

        });
        $.ajax({
            url: '/_nasnapmirrorhealth',
            type: 'POST',
            success: function(response) {
                if (response['warning_snapmirror_count'] == 0) {
                  $('#SnapmirrorCountDiv').html('<div class="card w-75 text-center text-white bg-success mb-3" style="max-width: 10rem;"><div class="card-body"><h6 class="card-title">Healthy SnapMirrors</h6><h5 id="SnapmirrorCount" class="card-subtitle text-center text-white mb-2"></h5></div></div>');
                  $('#SnapmirrorCount').text(response['healthy_snapmirror_count']);
                } else if (response['warning_snapmirror_count'] > 1) {
                  $('#SnapmirrorCountDiv').html('<div class="card w-75 text-center text-white bg-warning mb-3" style="max-width: 10rem;"><div class="card-body"><h6 class="card-title">Warning SnapMirrors</h6><h5 id="SnapmirrorCount" class="card-subtitle text-center text-white mb-2"></h5></div></div>');
                  $('#SnapmirrorCount').text(response['warning_snapmirror_count']);
                }

                },
                error: function() {
                    console.log('something went wrong');
                }

        });

 </script>
{% endblock %}
