{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<div id="Webs">
<h3>Current Bindings:</h3>
{% if bindings %}
{% for binding in bindings %}
  {% if binding['vs'] == 'pvt_web' %}
      <h3>Private Web</h3>
        <span id="privatewebimg">
          {% if binding['svcg'] == 'A' %}
          <img src="static/A.png" alt="a">
          {% endif %}
          {% if binding['svcg'] == 'B' %}
          <img src="static/B.png" alt="b">
          {% endif %}
        </span>
      {% endif %}
  {% if binding['vs'] == 'pub_api' %}
        <h3>Public Web</h3>
        <span id="publicwebimg">
          {% if binding['svcg'] == 'A' %}
          <img src="static/A.png" alt="a">
          {% endif %}
          {% if binding['svcg'] == 'B' %}
          <img src="static/B.png" alt="b">
          {% endif %}
        </span>
  {% endif %}
  {% if binding['vs'] == 'beta_api' %}
        <h3 >Beta Web</h3>
        <span id="betawebimg">
          {% if binding['svcg'] == 'A' %}
          <img src="static/X.png" alt="a">
          {% endif %}
          {% if binding['svcg'] == 'B' %}
          <img src="static/X.png" alt="b">
          {% endif %}
        </span>
  {% endif %}
{% endfor %}
{% endif %}
</div>
<script>
    function autoRefresh_div() {
      $("#Webs").load(bindscript('privatewebimg','publicwebimg','betawebimg'));
      }
      setInterval('autoRefresh_div()', 5000);

     function bindscript(elemImg1, elemImg2, elemImg3) {
         $(elemImg1).html('<img src="static/loading.gif">');
         $(elemImg2).html('<img src="static/loading.gif">');
         $(elemImg3).html('<img src="static/loading.gif">');
         $.post('/bindscript',{
           text: "test",
          }).done(function(response) {
              if (response['pvt_web'] == "A") {
                $(elemImg1).html('<img class="card-img-top" src="static/A.png" alt="Card image cap">');
              } else if (response['pvt_web'] == "B") {$(elemImg1).html('<img class="card-img-top" src="static/B.png" alt="Card image cap">');
              } else {$(elemImg1).html('<img class="card-img-top" src="static/X.png" alt="Card image cap">')}
              if (response['pub_web'] == "A") {
                $(elemImg2).html('<img class="card-img-top" src="static/A.png" alt="Card image cap">');
              } else if (response['pub_web'] == "B") {$(elemImg2).html('<img class="card-img-top" src="static/B.png" alt="Card image cap">');
              } else {$(elemImg2).html('<img class="card-img-top" src="static/X.png" alt="Card image cap">')}
              if (response['beta_web'] == "A") {
                $(elemImg3).html('<img class="card-img-top" src="static/A.png" alt="Card image cap">');
              } else if (response['beta_web'] == "B") {$(elemImg3).html('<img class="card-img-top" src="static/B.png" alt="Card image cap">');
              } else {$(elemImg3).html('<img class="card-img-top" src="static/X.png" alt="Card image cap">')}
              $('#Webs').text(response['message'], response['pvt_web']);
            }).fail(function() {
             $(elemImg1).html('<img class="card-img-top" src="static/X.png" alt="Card image cap">');
         });

     }


 </script>
{% endblock %}
