{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

{% if pvtflip == True  %}
  <h3> Private Web </h3>
  <hr>
  Bound To:
  <span id="privateweb">
    {{ pvtweb }}
  </span>
  <form class="form form-horizontal" method="post" role="form">
    <button class="btn btn-primary" id="pvtbtn" type="button" onclick="flip(pvtbtn,privateweb)">Flip Private Web</button>
  </form>
{% endif %}

{% if pubflip == True  %}
  <h3> Public Web </h3>
  <hr>
  Bound To:<br>
  <span id="publicwebimg">
      {% if pubweb == 'A' %}
      <img class="card-img-top" src="{{ url_for('static', filename='A.png') }}" alt="Card image cap">
      {% endif %}
      {% if pubweb == 'B' %}
      <img class="card-img-top" src="{{ url_for('static', filename='B.png') }}" alt="Card image cap">
      {% endif %}
  </span>
  <p id="publicweb"> . </p>
  <form class="form form-horizontal" method="post" role="form">
    <button class="btn btn-primary" id="pubbtn" type="button" onclick="flip(pubbtn,publicwebimg,publicweb)">Flip Public Web</button>
  </form>
{% endif %}

{% if betaflip == True  %}
  <h3> Beta Web </h3>
  <hr>
  Bound To:<br>

  <span id="betawebimg">
      {% if betaweb == 'A' %}
      <img class="card-img-top" src="{{ url_for('static', filename='A.png') }}" alt="Card image cap">
      {% endif %}
      {% if betaweb == 'B' %}
      <img class="card-img-top" src="{{ url_for('static', filename='B.png') }}" alt="Card image cap">
      {% endif %}
  </span>
  <p id="betaweb"> . </p>
  <form class="form form-horizontal" method="post" role="form">
    <button class="btn btn-primary" id="betabtn" type="button" onclick="flip(betabtn,betawebimg,betaweb)">Flip Beta Web</button>
  </form>
{% endif %}

<script>
     function flip(sourceElem, destElemImg, destElem) {
         $(destElem).html('<img src="static/loading.gif">');
         $(destElemImg).html('<img src="static/loading.gif">');
         $.post('/flip', {
             text: $(sourceElem).text(),
         }).done(function(response) {
             $(destElem).text(response['text'])
             if (response['svcg'] == "A") {
               $(destElemImg).html('<img class="card-img-top" src="static/A.png" alt="Card image cap">');
             } else if (response['svcg'] == "B") {$(destElemImg).html('<img class="card-img-top" src="static/B.png" alt="Card image cap">');
           } else {$(destElemImg).html('<img class="card-img-top" src="static/X.png" alt="Card image cap">')}
         }).fail(function() {
             $(destElem).text("Error: Could not contact server.");
         });
     }
 </script>


{% endblock %}
