{% extends "base.html" %}

{% block app_content %}
<div class="row">
  <h1>Realtracs Uptimes</h1>
</div>
<div class="row">
  <h2>Private Web:  </h2>
</div>
<div class="row">
  <div class="col-sm">
    <p>Current Month Total Uptime: </p>
  </div>
  <div class="col-sm">
    {% if PrivateUpTime['mtd'] > 99.9399 %}
    <span style = "color: green;">
    {% endif %}
    {% if PrivateUpTime['mtd'] < 99.9399 and PrivateUpTime['mtd'] > 99.8999 %}
    <span style = "color: orange;">
    {% endif %}
    {% if PrivateUpTime['mtd'] < 99.9000 %}
    <span style = "color: red;">
    {% endif %}
      {{ PrivateUpTime['mtd'] }}
    </span>
  </div>
  <div class="col-sm">
    <p>Current Month Critical Uptime: </p>
  </div>
  <div class="col-sm">
    {% if PrivateUpTime['c_mtd'] > 99.9399 %}
    <span style = "color: green;">
    {% endif %}
    {% if PrivateUpTime['c_mtd'] < 99.9399 and PrivateUpTime['c_mtd'] > 99.8999 %}
    <span style = "color: orange;">
    {% endif %}
    {% if PrivateUpTime['c_mtd'] < 99.9000 %}
    <span style = "color: red;">
    {% endif %}
      {{ PrivateUpTime['c_mtd'] }}</span>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <p>Prior Month Total Uptime: </p>
  </div>
  <div class="col-sm">
    {% if PrivateUpTime['pmtd'] > 99.9399 %}
    <span style = "color: green;">
    {% endif %}
    {% if PrivateUpTime['pmtd'] < 99.9399 and PrivateUpTime['pmtd'] > 99.8999 %}
    <span style = "color: orange;">
    {% endif %}
    {% if PrivateUpTime['pmtd'] < 99.9000 %}
    <span style = "color: red;">
    {% endif %}
      {{ PrivateUpTime['pmtd'] }}</span>
  </div>
  <div class="col-sm">
    <p>Prior Month Critical Uptime: </p>
  </div>
  <div class="col-sm">
    {% if PrivateUpTime['c_pmtd'] > 99.9399 %}
    <span style = "color: green;">
    {% endif %}
    {% if PrivateUpTime['c_pmtd'] < 99.9399 and PrivateUpTime['c_pmtd'] > 99.8999 %}
    <span style = "color: orange;">
    {% endif %}
    {% if PrivateUpTime['c_pmtd'] < 99.9000 %}
    <span style = "color: red;">
    {% endif %}
      {{ PrivateUpTime['c_pmtd'] }}
    </span>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <p>Current Year to Date Total Uptime: </p>
  </div>
  <div class="col-sm">
    {% if PrivateUpTime['ytd'] > 99.9399 %}
    <span style = "color: green;">
    {% endif %}
    {% if PrivateUpTime['ytd'] < 99.9399 and PrivateUpTime['ytd'] > 99.8999 %}
    <span style = "color: orange;">
    {% endif %}
    {% if PrivateUpTime['ytd'] < 99.9000 %}
    <span style = "color: red;">
    {% endif %}
      {{ PrivateUpTime['ytd'] }}
    </span>
  </div>
  <div class="col-sm">
    <p>Current Year to Date Crtical Uptime: </p>
  </div>
  <div class="col-sm">
    {% if PrivateUpTime['c_ytd'] > 99.9399 %}
    <span style = "color: green;">
    {% endif %}
    {% if PrivateUpTime['c_ytd'] < 99.9399 and PrivateUpTime['c_ytd'] > 99.8999 %}
    <span style = "color: orange;">
    {% endif %}
    {% if PrivateUpTime['c_ytd'] < 99.9000 %}
    <span style = "color: red;">
    {% endif %}
      {{ PrivateUpTime['c_ytd'] }}
    </span>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <p>Prior Year Total Uptime: </p>
  </div>
  <div class="col-sm">
    {% if PrivateUpTime['pytd'] > 99.9399 %}
    <span style = "color: green;">
    {% endif %}
    {% if PrivateUpTime['pytd'] < 99.9399 and PrivateUpTime['pytd'] > 99.8999 %}
    <span style = "color: orange;">
    {% endif %}
    {% if PrivateUpTime['pytd'] < 99.9000 %}
    <span style = "color: red;">
      {% endif %}
      {{ PrivateUpTime['pytd'] }}
    </span>
  </div>
  <div class="col-sm">
     <p>Prior Year Critical Uptime: </p>
  </div>
  <div class="col-sm">
    {% if PrivateUpTime['c_pytd'] > 99.9399 %}
    <span style = "color: green;">
    {% endif %}
    {% if PrivateUpTime['c_pytd'] < 99.9399 and PrivateUpTime['c_pytd'] > 99.8999 %}
    <span style = "color: orange;">
    {% endif %}
    {% if PrivateUpTime['c_pytd'] < 99.9000 %}
    <span style = "color: red;">
    {% endif %}
      {{ PrivateUpTime['c_pytd'] }}
    </span>
  </div>
</div>

<div class="row">
<h2>Public Web:</h2>
</div>
<div class="row">
  <div class="col-sm">
    <p>Current Month Total Uptime: </p>
  </div>
  <div class="col-sm">
    {% if PublicUpTime['mtd'] > 99.9399 %}
    <span style = "color: green;">
    {% endif %}
    {% if PublicUpTime['mtd'] < 99.9399 and PublicUpTime['mtd'] > 99.8999 %}
    <span style = "color: orange;">
    {% endif %}
    {% if PublicUpTime['mtd'] < 99.9000 %}
    <span style = "color: red;">
    {% endif %}
      {{ PublicUpTime['mtd'] }}
    </span>
  </div>
  <div class="col-sm">
    <p>Month Critical Uptime: </p>
  </div>
  <div class="col-sm">
    {% if PublicUpTime['c_mtd'] > 99.9399 %}
    <span style = "color: green;">
    {% endif %}
    {% if PublicUpTime['c_mtd'] < 99.9399 and PublicUpTime['c_mtd'] > 99.8999 %}
    <span style = "color: orange;">
    {% endif %}
    {% if PublicUpTime['c_mtd'] < 99.9000 %}
    <span style = "color: red;">
    {% endif %}
      {{ PublicUpTime['c_mtd'] }}
    </span>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <p>Prior Month Total Uptime: </p>
  </div>
  <div class="col-sm">
    {% if PublicUpTime['pmtd'] > 99.9399 %}
    <span style = "color: green;">
    {% endif %}
    {% if PublicUpTime['pmtd'] < 99.9399 and PublicUpTime['pmtd'] > 99.8999 %}
    <span style = "color: orange;">
    {% endif %}
    {% if PublicUpTime['pmtd'] < 99.9000 %}
    <span style = "color: red;">
    {% endif %}
      {{ PublicUpTime['pmtd'] }}
    </span>
  </div>
  <div class="col-sm">
    <p>Prior Month Critical Uptime: </p>
  </div>
  <div class="col-sm">
    {% if PublicUpTime['c_pmtd'] > 99.9399 %}
    <span style = "color: green;">
    {% endif %}
    {% if PublicUpTime['c_pmtd'] < 99.9399 and PublicUpTime['c_pmtd'] > 99.8999 %}
    <span style = "color: orange;">
    {% endif %}
    {% if PublicUpTime['c_pmtd'] < 99.9000 %}
    <span style = "color: red;">
    {% endif %}
      {{ PublicUpTime['c_pmtd'] }}
    </span>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <p>Current Year to Date Total Uptime: </p>
  </div>
  <div class="col-sm">
    {% if PublicUpTime['ytd'] > 99.9399 %}
    <span style = "color: green;">
    {% endif %}
    {% if PublicUpTime['ytd'] < 99.9399 and PublicUpTime['ytd'] > 99.8999 %}
    <span style = "color: orange;">
    {% endif %}
    {% if PublicUpTime['ytd'] < 99.9000 %}
    <span style = "color: red;">
    {% endif %}
      {{ PublicUpTime['ytd'] }}
    </span>
  </div>
  <div class="col-sm">
    <p>Current Year to Date Crtical Uptime: </p>
  </div>
  <div class="col-sm">
    {% if PublicUpTime['c_ytd'] > 99.9399 %}
    <span style = "color: green;">
    {% endif %}
    {% if PublicUpTime['c_ytd'] < 99.9399 and PublicUpTime['c_ytd'] > 99.8999 %}
    <span style = "color: orange;">
    {% endif %}
    {% if PublicUpTime['c_ytd'] < 99.9000 %}
    <span style = "color: red;">
    {% endif %}
      {{ PublicUpTime['c_ytd'] }}
    </span>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <p>Prior Year Total Uptime: </p>
  </div>
  <div class="col-sm">
    {% if PublicUpTime['pytd'] > 99.9399 %}
    <span style = "color: green;">
    {% endif %}
    {% if PublicUpTime['pytd'] < 99.9399 and PublicUpTime['pytd'] > 99.8999 %}
    <span style = "color: orange;">
    {% endif %}
    {% if PublicUpTime['pytd'] < 99.9000 %}
    <span style = "color: red;">
    {% endif %}
      {{ PublicUpTime['pytd'] }}
    </span>
  </div>
  <div class="col-sm">
    <p>Prior Year Critical Uptime: </p>
  </div>
  <div class="col-sm">
    {% if PublicUpTime['c_pytd'] > 99.9399 %}
    <span style = "color: green;">
    {% endif %}
    {% if PublicUpTime['c_pytd'] < 99.9399 and PublicUpTime['c_pytd'] > 99.8999 %}
    <span style = "color: orange;">
    {% endif %}
    {% if PublicUpTime['c_pytd'] < 99.9000 %}
    <span style = "color: red;">
    {% endif %}
      {{ PublicUpTime['c_pytd'] }}
    </span>
  </div>
</div>
<div class="row">
  <h2>Email:</h2>
</div>
<div class="row">
  <div class="col-sm">
    <p>Current Month Total Uptime: </p>
  </div>
  <div class="col-sm">
    {% if EmailUpTime['mtd'] > 99.9399 %}
    <span style = "color: green;">
    {% endif %}
    {% if EmailUpTime['mtd'] < 99.9399 and EmailUpTime['mtd'] > 99.8999 %}
    <span style = "color: orange;">
    {% endif %}
    {% if EmailUpTime['mtd'] < 99.9000 %}
    <span style = "color: red;">
    {% endif %}
      {{ EmailUpTime['mtd'] }}
    </span>
  </div>
  <div class="col-sm">
    <p>Month Critical Uptime: </p>
  </div>
  <div class="col-sm">
    {% if EmailUpTime['c_mtd'] > 99.9399 %}
    <span style = "color: green;">
    {% endif %}
    {% if EmailUpTime['c_mtd'] < 99.9399 and EmailUpTime['c_mtd'] > 99.8999 %}
    <span style = "color: orange;">
    {% endif %}
    {% if EmailUpTime['c_mtd'] < 99.9000 %}
    <span style = "color: red;">
    {% endif %}
      {{ EmailUpTime['c_mtd'] }}
    </span>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <p>Prior Month Total Uptime: </p>
  </div>
  <div class="col-sm">
    {% if EmailUpTime['pmtd'] > 99.9399 %}
    <span style = "color: green;">
    {% endif %}
    {% if EmailUpTime['pmtd'] < 99.9399 and EmailUpTime['pmtd'] > 99.8999 %}
    <span style = "color: orange;">
    {% endif %}
    {% if EmailUpTime['pmtd'] < 99.9000 %}
    <span style = "color: red;">
    {% endif %}
      {{ EmailUpTime['pmtd'] }}
    </span>
  </div>
  <div class="col-sm">
    <p>Prior Month Critical Uptime: </p>
  </div>
  <div class="col-sm">
    {% if EmailUpTime['c_pmtd'] > 99.9399 %}
    <span style = "color: green;">
    {% endif %}
    {% if EmailUpTime['c_pmtd'] < 99.9399 and EmailUpTime['c_pmtd'] > 99.8999 %}
    <span style = "color: orange;">
    {% endif %}
    {% if EmailUpTime['c_pmtd'] < 99.9000 %}
    <span style = "color: red;">
    {% endif %}
      {{ EmailUpTime['c_pmtd'] }}
    </span>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <p>Current Year to Date Total Uptime: </p>
  </div>
  <div class="col-sm">
    {% if EmailUpTime['ytd'] > 99.9399 %}
    <span style = "color: green;">
    {% endif %}
    {% if EmailUpTime['ytd'] < 99.9399 and EmailUpTime['ytd'] > 99.8999 %}
    <span style = "color: orange;">
    {% endif %}
    {% if EmailUpTime['ytd'] < 99.9000 %}
    <span style = "color: red;">
    {% endif %}
      {{ EmailUpTime['ytd'] }}
    </span>
  </div>
  <div class="col-sm">
    <p>Current Year to Date Crtical Uptime: </p>
  </div>
  <div class="col-sm">
    {% if EmailUpTime['c_ytd'] > 99.9399 %}
    <span style = "color: green;">
    {% endif %}
    {% if EmailUpTime['c_ytd'] < 99.9399 and EmailUpTime['c_ytd'] > 99.8999 %}
    <span style = "color: orange;">
    {% endif %}
    {% if EmailUpTime['c_ytd'] < 99.9000 %}
    <span style = "color: red;">
    {% endif %}
      {{ EmailUpTime['c_ytd'] }}
    </span>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <p>Prior Year Total Uptime: </p>
  </div>
  <div class="col-sm">
    {% if EmailUpTime['pytd'] > 99.9399 %}
    <span style = "color: green;">
    {% endif %}
    {% if EmailUpTime['pytd'] < 99.9399 and EmailUpTime['pytd'] > 99.8999 %}
    <span style = "color: orange;">
    {% endif %}
    {% if EmailUpTime['pytd'] < 99.9000 %}
    <span style = "color: red;">
    {% endif %}
      {{ EmailUpTime['pytd'] }}
    </span>
  </div>
  <div class="col-sm">
    <p>Prior Year Critical Uptime: </p>
  </div>
  <div class="col-sm">
    {% if EmailUpTime['c_pytd'] > 99.9399 %}
    <span style = "color: green;">
    {% endif %}
    {% if EmailUpTime['c_pytd'] < 99.9399 and EmailUpTime['c_pytd'] > 99.8999 %}
    <span style = "color: orange;">
    {% endif %}
    {% if EmailUpTime['c_pytd'] < 99.9000 %}
    <span style = "color: red;">
    {% endif %}
      {{ EmailUpTime['c_pytd'] }}
    </span>
  </div>
</div>

{% endblock %}
